@import "src/styles/abstracts/variables";

* {
  box-sizing: border-box;
}

.page {
  overflow-y: hidden;
  height: 100vh;
  font-size: $text-sm;
  padding: 15px .58rem 10px 10px !important;

  .content {
    height: 99.8%;
    width: 100%;
    display: flex;
    flex-direction: column;
    //test
    border: 1px solid red;
    //margin-bottom:20px;

    &-scrollable {
      @extend .content;
      overflow-y: scroll;
    }
  }

}

