@import "../abstracts/variables";
mat-chip {
  font-size: 12px !important;
  padding: 2px 12px !important;
  border-radius: 10px !important;
  height: 27px !important;
  min-height: unset !important;
  font-weight: 500 !important;
}

.mat-chip-sm {
  height: 22px !important;
}

.mat-chip-success {
  background-color: $active-accent !important;
  color: $active !important;
}

.mat-chip-danger {
  background-color: $inactive-accent !important;;
  color: $inactive !important;
}

.mat-chip-primary {
  outline: 1px solid $dark-stroke !important;
  color: $main !important;
  background-color: #fff !important;
  box-sizing: border-box;

  .mat-chip-remove {
    color: $main !important;
    opacity: 1 !important;
  }

}


.chip-circle {
  padding: .17rem .5rem !important;
  padding-top: .25rem !important;
  font-size: .92rem !important;
  min-height: .83rem !important;
  height: auto !important;
  border-radius: 1.33rem;
  pointer-events: none;
}

.component-wrapper-temp {
  border: .17rem dashed #b57af9;
  padding: 3.33rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  gap: 1.25rem;
  background-color: #f1f1f1;
}

//DOM manipulations
.pointer-no-actions {
  pointer-events: none;
}

.progress-bar-bottom {
  position: absolute !important;
  left: 0;
  bottom: 0;
}

.progress-bar-top {
  position: absolute !important;
  left: 0;
  top: 0;
}

.assets-menu .mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -.25rem !important;
  top: -.25rem;
}

.cursor-pointer {
  cursor: pointer;
}

.text-underline {
  &:hover {
    text-decoration: underline;
  }
}

.disabled {
  opacity: 0.5;
  color: #ccc;
  pointer-events: none;
  border: 2px solid red;
}

.locate-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(35, 49, 60, 1);
}

.module-active {
  color: $main;
  //border: 1px solid #007CD9;
  background-color: #c7e7f9;
}

//backdrop
.cdk-overlay-backdrop {
  background: rgba(43, 43, 43, 0.4) !important;
  opacity: 1 !important;
}
