@import "src/styles/abstracts/variables";

.assets-form-dropdown {
  position: relative;

  &-label {
    display: block;
    font-size: 15px;
    font-weight: normal;
    color: $text-dark;
    margin-left: 3px;
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-flex {
    border: 1px solid $form-field-border-color;
    height: 41px;
    background-color: $form-field-bg-color !important;
    border-radius: $form-field-border-radius !important;

    .mat-form-field-outline {
      height: 100% !important;
    }

    .mat-form-field-infix {
      border: 1px solid transparent !important;
      padding: 0 4px !important;
      align-self: stretch;
      //margin-top: 4px;
      font-size: $text-md;


      mat-select {
      }

      .mat-form-field-label-wrapper {
        position: static !important;

        label.mat-empty {
          display: unset;
          margin-top: -12px;
        }

        label {
          display: none;
          font-size: $text-md;
          font-weight: 400;
          color: $form-field-placeholder-color;
        }
      }
    }
  }

  &.label-top {
    .assets-form-dropdown-label {
      display: block;
    }
  }

  &.label-left {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: baseline;

    .assets-form-dropdown-label {
      display: block;
      margin-right: 6px;
      margin-top: -12px;
    }
  }


  .mat-select-arrow-wrapper {
    visibility: hidden;
  }

}
