<div [class]="(textarea ? 'assets-textarea' : '' )+' assets-form'">
  <mat-form-field appearance="fill">
    <mat-label>{{label}}
      <ng-template [ngIf]="hasRequiredField(control)">
        <span [ngStyle]="{'color':'rgba(169, 57, 57, 1)','font-weight':'thin'}">*</span>
      </ng-template>
    </mat-label>
    <ng-container *ngIf="chips;else noChip">
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip
          *ngFor="let fruit of fruits"
          (removed)="remove(fruit)">
          {{fruit}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input [type]="type" matInput [formControl]="fruitControl"
               placeholder="New fruit..."
               #fruitInput
               [matAutocomplete]="auto"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </ng-container>
    <ng-template #noChip><input [type]="type" matInput [formControl]="fruitControl" [matAutocomplete]="auto"/>
    </ng-template>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
        {{fruit}}
      </mat-option>
    </mat-autocomplete>

    <!--    hint-->
    <mat-hint *ngIf="hint">{{hint}}</mat-hint>

    <mat-icon *ngIf="suffix" matSuffix>{{iconName}}</mat-icon>

    <mat-icon *ngIf="prefix" matPrefix>{{iconName}}</mat-icon>

    <mat-error *ngIf="control.hasError('required')">
      this field is required
    </mat-error>

    <mat-error *ngIf="control.hasError('pattern')">
      this field is required
    </mat-error>

    <mat-error *ngIf="control.hasError('email') && !control.hasError('required')">
      this field is required
    </mat-error>


    <mat-error *ngFor="let validation of validationKeys">
      <p *ngIf="control.hasError(validation.key)">
        {{validation.label}}
      </p>
    </mat-error>

  </mat-form-field>
</div>
