.component-container {
  display: grid;
  gap: 20px;
  border: 1px dashed #8025ed;
  padding: 10px;
}

.component-row {
  display: grid;
  grid-template-columns:1fr 1fr;
}

.component-column {
  & > * {
    display: inline-block;
    margin: 10px;
  }
}
// test
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
