<div class="content">
  <mat-tab-group class="extendable scrollable-tab-content tab-primary"
                 (selectedTabChange)="selectedTabIndex=$event.index" [selectedIndex]="selectedTabIndex">
    <mat-tab label="Buttons">
      <h2>Buttons</h2>
      <div class="component-container">
        <div class="component-row">

          <div class="component-column-wrapper">
            <h2>Primary large</h2>
            <div class="component-column">
              <button mat-flat-button class="assets-btn primary-btn">Button</button>
              <button mat-flat-button class="assets-btn primary-btn-deep-1">Button</button>
              <button mat-flat-button class="assets-btn primary-btn-deep-2">Button</button>
              <button mat-flat-button disabled class="assets-btn primary-btn">Button</button>
            </div>
            <div class="component-column">
              <button mat-flat-button class="assets-btn primary-btn">Button</button>
              <button mat-flat-button class="assets-btn primary-btn-deep-1">Button</button>
              <button mat-flat-button class="assets-btn primary-btn-deep-2">Button</button>
              <button mat-flat-button disabled class="assets-btn primary-btn">Button</button>
            </div>
            <div class="component-column">
              <button mat-flat-button class="assets-btn primary-btn icon-left">
                <mat-icon>add</mat-icon>
                Button
              </button>
              <button mat-flat-button class="assets-btn primary-btn-deep-1 icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
              <button mat-flat-button class="assets-btn primary-btn-deep-2 icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
              <button mat-flat-button disabled class="assets-btn primary-btn icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
            </div>
            <div class="component-column">
              <button mat-flat-button class="assets-btn primary-btn icon-only-btn">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button class="assets-btn primary-btn-deep-1 icon-only-btn">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button class="assets-btn primary-btn-deep-2 icon-only-btn">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button disabled class="assets-btn icon-only-btn">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>

          <div class="component-column-wrapper">
            <h2>Primary small</h2>
            <div class="component-column">
              <!--      <div class="p-5">-->
              <button mat-flat-button class="assets-btn-sm primary-btn">Button</button>
              <button mat-flat-button class="assets-btn-sm primary-btn-deep-1">Button</button>
              <button mat-flat-button class="assets-btn-sm primary-btn-deep-2">Button</button>
              <button mat-flat-button disabled class="assets-btn-sm primary-btn">Button</button>
            </div>
            <div class="component-column">
              <!--      <div class="p-5">-->
              <button mat-flat-button class="assets-btn-sm primary-btn">Button</button>
              <button mat-flat-button class="assets-btn-sm primary-btn-deep-1">Button</button>
              <button mat-flat-button class="assets-btn-sm primary-btn-deep-2">Button</button>
              <button mat-flat-button disabled class="assets-btn-sm primary-btn">Button</button>
            </div>
            <div class="component-column">
              <button mat-flat-button class="assets-btn-sm primary-btn icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
              <button mat-flat-button class="assets-btn-sm primary-btn-deep-1 icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
              <button mat-flat-button class="assets-btn-sm primary-btn-deep-2 icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
              <button mat-flat-button disabled class="assets-btn-sm primary-btn icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
            </div>
            <div class="component-column">
              <button mat-flat-button class="assets-btn-sm primary-btn icon-only-btn-sm">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button class="assets-btn-sm primary-btn-deep-1 icon-only-btn-sm">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button class="assets-btn-sm primary-btn-deep-2 icon-only-btn-sm">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button disabled class="assets-btn-sm icon-only-btn-sm">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
          <div class="component-column-wrapper">
            <h2>Primary extra small</h2>
            <div class="component-column">
              <!--      <div class="p-5">-->
              <button mat-flat-button class="assets-btn-xs primary-btn">Button</button>
              <button mat-flat-button class="assets-btn-xs primary-btn-deep-1">Button</button>
              <button mat-flat-button class="assets-btn-xs primary-btn-deep-2">Button</button>
              <button mat-flat-button disabled class="assets-btn-xs primary-btn">Button</button>
            </div>
            <div class="component-column">
              <!--      <div class="p-5">-->
              <button mat-flat-button class="assets-btn-xs primary-btn">Button</button>
              <button mat-flat-button class="assets-btn-xs primary-btn-deep-1">Button</button>
              <button mat-flat-button class="assets-btn-xs primary-btn-deep-2">Button</button>
              <button mat-flat-button disabled class="assets-btn-xs primary-btn">Button</button>
            </div>
            <div class="component-column">
              <button mat-flat-button class="assets-btn-xs primary-btn icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
              <button mat-flat-button class="assets-btn-xs primary-btn-deep-1 icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
              <button mat-flat-button class="assets-btn-xs primary-btn-deep-2 icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
              <button mat-flat-button disabled class="assets-btn-xs primary-btn icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
            </div>
            <div class="component-column">
              <button mat-flat-button class="assets-btn-xs primary-btn icon-only-btn-xs">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button class="assets-btn-xs primary-btn-deep-1 icon-only-btn-xs">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-flat-button class="assets-btn-xs primary-btn-deep-2 icon-only-btn-xs">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button disabled class="assets-btn-xs icon-only-btn-xs">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="component-row">

          <div class="component-column-wrapper">
            <h2>Ghost large</h2>
            <div class="component-column">
              <button mat-flat-button class="assets-btn ghost-btn">Button</button>
              <button mat-flat-button class="assets-btn ghost-btn-deep-1">Button</button>
              <button mat-flat-button class="assets-btn ghost-btn-deep-2">Button</button>
              <button mat-flat-button disabled class="assets-btn ghost-btn">Button</button>
            </div>
            <div class="component-column">
              <button mat-flat-button class="assets-btn ghost-btn icon-left">
                <mat-icon>add</mat-icon>
                Button
              </button>
              <button mat-flat-button class="assets-btn ghost-btn-deep-1 icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
              <button mat-flat-button class="assets-btn ghost-btn-deep-2 icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
              <button mat-flat-button disabled class="assets-btn ghost-btn icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
            </div>
            <div class="component-column">
              <button mat-flat-button class="assets-btn ghost-btn icon-right">
                Button
                <mat-icon>add</mat-icon>
              </button>
              <button mat-flat-button class="assets-btn ghost-btn-deep-1 icon-right">
                Button
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button class="assets-btn ghost-btn-deep-2 icon-right">
                Button
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button disabled class="assets-btn ghost-btn icon-right">
                Button
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div class="component-column">
              <button mat-flat-button class="assets-btn ghost-btn icon-only-btn">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button class="assets-btn ghost-btn-deep-1 icon-only-btn">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button class="assets-btn ghost-btn-deep-2 icon-only-btn">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button disabled class="assets-btn icon-only-btn">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>

          <div class="component-column-wrapper">
            <h2>Ghost small</h2>
            <div class="component-column">
              <button mat-flat-button class="assets-btn-sm ghost-btn">Button</button>
              <button mat-flat-button class="assets-btn-sm ghost-btn-deep-1">Button</button>
              <button mat-flat-button class="assets-btn-sm ghost-btn-deep-2">Button</button>
              <button mat-flat-button disabled class="assets-btn-sm ghost-btn">Button</button>
            </div>
            <div class="component-column">
              <button mat-flat-button class="assets-btn-sm ghost-btn icon-left">
                <mat-icon>add</mat-icon>
                Button
              </button>
              <button mat-flat-button class="assets-btn-sm ghost-btn-deep-1 icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
              <button mat-flat-button class="assets-btn-sm ghost-btn-deep-2 icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
              <button mat-flat-button disabled class="assets-btn-sm ghost-btn icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
            </div>
            <div class="component-column">
              <button mat-flat-button class="assets-btn-sm ghost-btn icon-right">
                Button
                <mat-icon>add</mat-icon>
              </button>
              <button mat-flat-button class="assets-btn-sm ghost-btn-deep-1 icon-right">
                Button
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button class="assets-btn-sm ghost-btn-deep-2 icon-right">
                Button
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button disabled class="assets-btn-sm ghost-btn icon-right">
                Button
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div class="component-column">
              <button mat-flat-button class="assets-btn-sm ghost-btn icon-only-btn-sm">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button class="assets-btn-sm ghost-btn-deep-1 icon-only-btn-sm">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button class="assets-btn-sm ghost-btn-deep-2 icon-only-btn-sm">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button disabled class="assets-btn-sm icon-only-btn-sm">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
          <div class="component-column-wrapper">
            <h2>Ghost extra small</h2>
            <div class="component-column">
              <!--      <div class="p-5">-->
              <button mat-flat-button class="assets-btn-xs ghost-btn">Button</button>
              <button mat-flat-button class="assets-btn-xs ghost-btn-deep-1">Button</button>
              <button mat-flat-button class="assets-btn-xs ghost-btn-deep-2">Button</button>
              <button mat-flat-button disabled class="assets-btn-xs primary-btn">Button</button>
            </div>
            <div class="component-column">
              <!--      <div class="p-5">-->
              <button mat-flat-button class="assets-btn-xs ghost-btn">Button</button>
              <button mat-flat-button class="assets-btn-xs ghost-btn-deep-1">Button</button>
              <button mat-flat-button class="assets-btn-xs ghost-btn-deep-2">Button</button>
              <button mat-flat-button disabled class="assets-btn-xs ghost-btn">Button</button>
            </div>
            <div class="component-column">
              <button mat-flat-button class="assets-btn-xs ghost-btn icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
              <button mat-flat-button class="assets-btn-xs ghost-btn-deep-1 icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
              <button mat-flat-button class="assets-btn-xs ghost-btn-deep-2 icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
              <button mat-flat-button disabled class="assets-btn-xs primary-btn icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
            </div>
            <div class="component-column">
              <button mat-flat-button class="assets-btn-xs ghost-btn icon-only-btn-xs">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button class="assets-btn-xs ghost-btn-deep-1 icon-only-btn-xs">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-flat-button class="assets-btn-xs ghost-btn-deep-2 icon-only-btn-xs">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button disabled class="assets-btn-xs icon-only-btn-xs">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>

        </div>

        <div class="component-row">
          <div class="component-column-wrapper">
            <h2>Secondary large</h2>
            <div class="component-column">
              <button mat-flat-button class="assets-btn-sm secondary-btn">Button</button>
              <button mat-flat-button class="assets-btn-sm secondary-btn-deep-1">Button</button>
              <button mat-flat-button class="assets-btn-sm secondary-btn-deep-2">Button</button>
              <button mat-flat-button disabled class="assets-btn-sm">Button</button>
            </div>

          </div>
          <div class="component-column-wrapper">
            <h2>Secondary small</h2>
          </div>
        </div>
        <div class="component-row">
          <div class="component-column-wrapper">
            <h2>Select menu trigger large button</h2>
            <div class="component-column">
              <app-menu size="lg" class="ml-2" icon="filter_alt" [options]="['Junior','Middle','Senior']"
                        [multiple]="true"
                        [control]="control1"></app-menu>
              <app-menu size="lg" class="ml-2" icon="filter_alt" [options]="['Junior','Middle','Senior']"
                        [multiple]="true"
                        [control]="control1"></app-menu>
              <app-menu size="lg" class="ml-2" icon="filter_alt" [options]="['Junior','Middle','Senior']"
                        [multiple]="true"
                        [control]="control1"></app-menu>

            </div>
          </div>
          <div class="component-column-wrapper">
            <h2>Select menu trigger medium button</h2>
            <div class="component-column">
              <app-menu size="md" class="ml-2" icon="filter_alt" [options]="['Junior','Middle','Senior']"
                        [multiple]="true"
                        [control]="control1"></app-menu>
              <app-menu size="md" class="ml-2" icon="filter_alt" [options]="['Junior','Middle','Senior']"
                        [multiple]="true"
                        [control]="control1"></app-menu>
              <app-menu size="md" class="ml-2" icon="filter_alt" [options]="['Junior','Middle','Senior']"
                        [multiple]="true"
                        [control]="control1"></app-menu>

            </div>
          </div>
          <div class="component-column-wrapper">
            <h2>Select menu trigger small button</h2>
            <div class="component-column">
              <app-menu size="sm" class="ml-2" icon="filter_alt" [options]="['Junior','Middle','Senior']"
                        [multiple]="true"
                        [control]="control1"></app-menu>
              <app-menu size="sm" class="ml-2" icon="filter_alt" [options]="['Junior','Middle','Senior']"
                        [multiple]="true"
                        [control]="control1"></app-menu>
              <app-menu size="sm" class="ml-2" icon="filter_alt" [options]="['Junior','Middle','Senior']"
                        [multiple]="true"
                        [control]="control1"></app-menu>

            </div>
          </div>

        </div>
        <div class="component-row">

          <div class="component-column-wrapper">
            <h2>Button group large</h2>
            <div class="component-column">
              <mat-button-toggle-group class="primary" name="favoriteColor" aria-label="Favorite Color">
                <mat-button-toggle value="red">Red</mat-button-toggle>
                <mat-button-toggle value="green">Green</mat-button-toggle>
                <mat-button-toggle value="blue">Blue</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div class="component-column">
              <button mat-flat-button class="assets-btn ghost-btn icon-left">
                <mat-icon>add</mat-icon>
                Button
              </button>
            </div>
          </div>
          <div class="component-column-wrapper">
            <h2>Button group small</h2>
            <div class="component-column">
              <button mat-flat-button class="assets-btn ghost-btn">Button</button>
            </div>
            <div class="component-column">
              <button mat-flat-button class="assets-btn ghost-btn icon-left">
                <mat-icon>add</mat-icon>
                Button
              </button>
            </div>
          </div>
        </div>

        <div class="component-row">
          <div class="component-column-wrapper">
            <h2>Outline button large</h2>
            <div class="component-column">
              <button mat-stroked-button class="assets-btn outline-btn">Button</button>
            </div>
          </div>
          <div class="component-column-wrapper">
            <h2>Outline button small</h2>
            <div class="component-column">
              <button mat-stroked-button class="assets-btn-sm outline-btn">Button</button>
            </div>
          </div>
          <div class="component-column-wrapper">
            <h2>Outline button extra small</h2>
            <div class="component-column">
              <!--      <div class="p-5">-->
              <button mat-stroked-button class="assets-btn-xs outline-btn">Button</button>
              <button mat-stroked-button disabled class="assets-btn-xs primary-btn">Button</button>
            </div>
            <div class="component-column">
              <!--      <div class="p-5">-->
              <button mat-stroked-button class="assets-btn-xs outline-btn">Button</button>
              <button mat-stroked-button disabled class="assets-btn-xs outline-btn">Button</button>
            </div>
            <div class="component-column">
              <button mat-stroked-button class="assets-btn-xs outline-btn icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
              <button mat-stroked-button disabled class="assets-btn-xs outline-btn icon-left">
                <mat-icon>edit</mat-icon>
                Button
              </button>
            </div>
            <div class="component-column">
              <button mat-stroked-button class="assets-btn-xs outline-btn icon-only-btn-xs">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-stroked-button disabled class="assets-btn-xs icon-only-btn-xs">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>

        </div>
      </div>
      <div>
        <div class="component-container">
          <div class="component-row">
            <div class="component-column-wrapper">
              <h2>Icon button large</h2>
              <div class="component-column">
                <button mat-icon-button class="icon-btn-lg">
                  <mat-icon>cancel</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Inputs">
      <h2>Inputs</h2>
      <div class="component-container">
        <div class="component-row">
          <div class="component-column-wrapper">
            <h2>Simple Input</h2>
            <div class="component-column">
              <div [ngStyle]="{'max-width':'300px'}">
                <form-ui-text-input
                  [control]="control1"
                  label="First Name"
                  placeholder="First Name ...">
                </form-ui-text-input>
              </div>
            </div>
          </div>
          <div class="component-column-wrapper">
            <h2>Input with suffix</h2>
            <div class="component-column">
              <div [ngStyle]="{'max-width':'300px'}">
                <form-ui-text-input
                  [control]="control2"
                  [suffix]="true"
                  iconName="edit"
                  label="Last Name">
                </form-ui-text-input>
              </div>
            </div>
          </div>
          <div class="component-column-wrapper">
            <h2>Input with prefix</h2>
            <div class="component-column">
              <div [ngStyle]="{'max-width':'300px'}">
                <form-ui-text-input
                  [control]="control3"
                  [prefix]="true"
                  iconName="edit"
                  label="Middle Name">
                </form-ui-text-input>
              </div>
            </div>
          </div>

          <div class="component-column-wrapper">
            <h2>Disabled Input</h2>
            <div class="component-column">
              <div [ngStyle]="{'max-width':'300px'}">
                <form-ui-text-input
                  [control]="control4"
                  [suffix]="true"
                  iconName="edit"
                  label="Middle Name">
                </form-ui-text-input>
              </div>
            </div>
          </div>

        </div>
      </div>
      <h2>Dropdowns</h2>
      <div class="component-container">
        <div class="component-row">
          <div class="component-column-wrapper">
            <h2>Single choice dropdown</h2>
            <div class="component-column">
              <div [ngStyle]="{'max-width':'300px'}">
                <form-ui-dropdown [control]="control3"
                                  label="University"
                                  [options]="[{name:'Manas',value:1},{name:'AUCA',value:2}]"
                                  [hasTranslations]="true">
                  University
                </form-ui-dropdown>
              </div>
            </div>
          </div>
          <div class="component-column-wrapper">
            <h2>Multiple choice dropdown</h2>
            <div class="component-column">
              <div [ngStyle]="{'max-width':'300px'}">
                <form-ui-dropdown [control]="control3"
                                  label="University"
                                  [multiple]="true"
                                  [options]="['Manas','AUCA','KRSU','UCA','KTMU','KGTU']"
                                  [hasTranslations]="true">
                  University
                </form-ui-dropdown>
              </div>
            </div>
          </div>
          <div class="component-column-wrapper">
            <h2>Input with autosuggestion</h2>
            <div class="component-column">
              <div [ngStyle]="{'max-width':'300px'}">
                <app-input-autosuggestion [control]="control1" label="Select Country"
                                          placeholder="Select Country"></app-input-autosuggestion>
              </div>
            </div>
          </div>

        </div>
        <div class="component-row">
          <div class="component-column-wrapper">
            <h2>Single Select Search</h2>
            <div class="component-column">
              <form-select-search
                label="Select country" [options]="[
    {value: 1, label: 'ItSolutionStuff.com'},
    {value: 2, label: 'HDTuto.com'},
    {value: 3, label: 'Nicesnippets.com'},
    {value: 4, label: 'Google.com'},
    {value: 5, label: 'laravel.com'},
    {value: 6, label: 'npmjs.com'},
    {value: 7, label: 'yarnjs.com'},
    {value: 8, label: 'timelysoft.org'},
  ]"></form-select-search>
            </div>
          </div>
          <div class="component-column-wrapper">
            <h2>Multiple Select Search</h2>
            <div class="component-column">
              <form-select-search
                [chips]="true"
                [multiple]="true"
                [control]="control"
                label="Select country" [options]="[
    {value: 1, label: 'ItSolutionStuff.com'},
    {value: 2, label: 'HDTuto.com'},
    {value: 3, label: 'Nicesnippets.com'},
    {value: 4, label: 'Google.com'},
    {value: 5, label: 'laravel.com'},
    {value: 6, label: 'npmjs.com'},
    {value: 7, label: 'yarnjs.com'},
    {value: 8, label: 'timelysoft.org'},
  ]">
                <button mat-flat-button class="assets-btn-sm primary-btn w-100">Add
                  Country
                </button>
              </form-select-search>
            </div>
          </div>
        </div>
        <div class="component-row">
          <div class="component-column-wrapper">
            <h2>Input with chips inside</h2>
            <div class="component-column w-100">
              <app-input-autosuggestion
                class="w-100"
                [chips]="true" [textarea]="true"
                [control]="control" label="Выберите хэштеги"
                placeholder="Выберите хэштеги..."></app-input-autosuggestion>
            </div>
          </div>
        </div>
      </div>
      <h2>DatePickers</h2>
      <div class="component-container">
        <div class="component-row">
          <div class="component-column-wrapper">
            <h2>Single choice dropdown</h2>
            <div class="component-column">
              <div [ngStyle]="{'max-width':'300px'}">
                <form-ui-date-picker [control]="control" label="Select date"></form-ui-date-picker>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Tabs">
      <h2>Tabs</h2>
      <div>
        <h2>Primary Tab</h2>
        <mat-tab-group class="tab-primary">
          <mat-tab label="Tab #1">
            Tab #1 content
          </mat-tab>
          <mat-tab label="Tab #2">
            Tab #2 content
          </mat-tab>
        </mat-tab-group>
      </div>

      <div>
        <h2>Ordinary tab with darker background</h2>
        <mat-tab-group>
          <mat-tab label="Tab #1">
            Tab #1 content
          </mat-tab>
          <mat-tab label="Tab #2">
            Tab #2 content
          </mat-tab>
        </mat-tab-group>
      </div>

      <div>
        <h2>Secondary Tab with light background</h2>
        <mat-tab-group class="tab-secondary">
          <mat-tab label="Tab #1">
            Tab #1 content
          </mat-tab>
          <mat-tab label="Tab #2">
            Tab #2 content
          </mat-tab>
        </mat-tab-group>
      </div>

    </mat-tab>
    <mat-tab label="Filters">
      <h2>Filters</h2>
      <div class="component-container">
        <div class="component-row">
          <div class="component-column-wrapper">
            <h2>Simple Input</h2>
            <div class="component-column">
              <div [ngStyle]="{'max-width':'300px'}">
                <app-filter-input [control]="control1" placeholder="Enter employee name..."></app-filter-input>
              </div>
            </div>
          </div>
          <div class="component-column-wrapper">
            <h2>Single DatePicker</h2>
            <div class="component-column">
              <div [ngStyle]="{'max-width':'300px'}">
                <app-filter-date-picker [control]="datepickerControl"
                                        label="Simple Datepicker"></app-filter-date-picker>
              </div>
            </div>
          </div>
          <div class="component-column-wrapper">
            <h2>Range DatePicker</h2>
            <div class="component-column">
              <div [ngStyle]="{'max-width':'300px'}">
                <app-filter-date-picker [range]="true" [control]="datepickerControl"
                                        label="Range Datepicker"></app-filter-date-picker>
              </div>
            </div>
          </div>
          <div class="component-column-wrapper">
            <h2>Textarea</h2>
            <div class="component-column">
              <div [ngStyle]="{'max-width':'300px'}">
                <ui-textarea [control]="control1" label="Name" placeholder="Enter name"></ui-textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="Tables">
      <mat-tab-group>
        <mat-tab label="Employees table">
          <app-employee-table></app-employee-table>
        </mat-tab>
        <mat-tab label="Base Table">
          <base-table [columnKeyValuePair]="keyValuePair" [data]="data" [hasPaginator]="false"></base-table>
        </mat-tab>
        <mat-tab label="Base Table with paginator">
          <base-table [columnKeyValuePair]="keyValuePair" [data]="data" [hasPaginator]="true"></base-table>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
    <mat-tab label="Elements">
      <div class="component-container mt-3">
        <div class="component-row">

          <div class="component-column-wrapper">
            <h2>Chips</h2>
            <mat-chip-list>
              <mat-chip color="primary" class="mat-chip-success">
                Активен
              </mat-chip>
              <mat-chip color="primary" class="mat-chip-danger">
                Не активен
              </mat-chip>
              <mat-chip color="primary" class="mat-chip-danger">
                Не активен
              </mat-chip>
              <mat-chip color="primary">
                #настольные игры
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <mat-chip color="primary" class="mat-chip-primary">
                #настольные игры
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
            </mat-chip-list>

          </div>
          <div class="component-column-wrapper">
            <h2>Chip Small</h2>
            <mat-chip-list>
              <mat-chip color="primary" class="mat-chip-sm mat-chip-success">
                Активен
              </mat-chip>
              <mat-chip color="primary" class="mat-chip-sm mat-chip-danger">
                неактивен
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>
      <div class="component-container mt-3">
        <div class="component-row">

          <div class="component-column-wrapper">
            <h2>Alerts</h2>
            <div class="component-column">
              <button mat-flat-button class="assets-btn primary-btn" (click)="openSnackBar('success')">Success Alert
              </button>
            </div>
            <div class="component-column">
              <button mat-flat-button class="assets-btn primary-btn" (click)="openSnackBar('warn')">Warn Alert
              </button>
            </div>
            <div class="component-column">
              <button mat-flat-button class="assets-btn primary-btn" (click)="openSnackBar('danger')">Danger Alert
              </button>
            </div>
          </div>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="Dialogs">


    </mat-tab>
    <mat-tab label="Cards">
      <div class="component-container mt-3">
        <div class="component-row">

          <div class="component-column-wrapper">
            <app-card-relatives [relative]="relative"></app-card-relatives>
          </div>
          <div class="component-column-wrapper">
            <app-card-relatives [relative]="relative"></app-card-relatives>
          </div>
          <div class="component-column-wrapper">
            <app-card-relatives [relative]="relative"></app-card-relatives>
          </div>
          <div class="component-column-wrapper">
            <app-card-relatives [relative]="relative"></app-card-relatives>
          </div>
          <div class="component-column-wrapper">
            <app-card-relatives [relative]="relative"></app-card-relatives>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
