.logout {
  text-align: center
}

.text-md {
  width: 136px;
  height: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #23313C;
}

.roleName {
  width: 17px;
  height: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #AEAEAE;
}
