<mat-card class="employee-card">
  <mat-card-title-group>
    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    <div>
      <mat-card-title class="text-xl">
        Shiba Inu
<!--        <mat-chip-list>-->
        <mat-chip disableRipple color="primary" class="mat-chip-success float-right">
          Активен
        </mat-chip>
<!--        </mat-chip-list>-->
      </mat-card-title>
      <mat-card-subtitle>Programming Engineer, M2</mat-card-subtitle>
    </div>
  </mat-card-title-group>
  <mat-card-content>
    <div class="d-flex employee-card-content mt-2">
      <div class="positions">
        <p>.NET Developer Middle</p>
        <p>Python developer Junior</p>
        <p>English <span class="text-success">B2</span></p>
      </div>
      <div>
        <p>.NET Developers Guild </p>
        <p>Kanda CA</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
