<div class="content">
  <div class="d-flex justify-content-between p-1">
    <h2>Add Employee</h2>
    <div>
      <button
        mat-flat-button
        class="assets-btn primary-btn btn-with-icon mr-2"
      >
        <mat-icon>add</mat-icon>
        Save
      </button>
      <button
        mat-flat-button
        class="assets-btn ghost-btn-deep-1 mr-2"
      >
        <mat-icon>clear</mat-icon>
        Cancel
      </button>
    </div>
  </div>

  <div class="content-scrollable bg-white text-dark">
    <div class="container-fluid p-4 m-0">
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6"></div>
      </div>
    </div>
  </div>
</div>
