h2{
  font-size: 1.67rem !important;
  line-height: 2.67rem !important;
}

h3{
  font-size: 1.33rem !important;
  line-height: 2.33rem !important;
}

h4{
  font-size: 1.25rem !important;
  line-height: 2rem !important;
}

h5{
  font-size: .97rem !important;
  line-height: 2.67rem !important;
}
