@import "../../abstracts/variables";

.assets-form {
  font-size: 1rem;
  width: 100%;

  .mat-form-field.mat-focused {
    .mat-form-field-label {
      //color: rgba(174, 174, 174, 1) !important;
      font-size: $text-sm !important;
      color: $text-light !important;
    }

  }

  mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: $inactive !important;
  }

  .mat-form-field {
    width: 100%;
    min-width: 40px;
    //min-width: 25rem;

    &-underline {
      display: none !important;
    }

    &-flex {
      background-color: $input-bg !important;
      outline: .17rem solid $input-bg;
      outline-offset: -.17rem;
      border-radius: .5rem !important;
      height: 48px;
      //height: 48px !important;
      padding-left: 16px !important;
      padding-right: 16px !important;
    }

    &-infix {
    }

    &-suffix {
      color: $text-gray;
    }

    &-prefix {
      color: $text-gray;
    }

    &-disabled {
      & > * {
        opacity: 0.5 !important;
      }
    }

    &-label {
      font-size: 14px !important;
      font-weight: 400 !important;
      color: $text-light !important;

      &-wrapper {
      }
    }
  }

  .mat-focused {
    .mat-form-field-flex {
      outline: .083rem solid $main;
      outline-offset: -.083rem;

      label {
        color: $main;
      }
    }
  }

  .mat-form-field-invalid {
    .mat-form-field-flex {
      outline: .083rem solid $inactive;
      outline-offset: -.083rem;
    }
  }
}

.assets-textarea {
  .mat-form-field {
    &-flex {
      height: 120px !important;
    }
  }
}

mat-error {
  color: $inactive !important;
}

//.auth-form {
//  .mat-form-field-wrapper {
//    padding-bottom: 2rem;
//
//    .mat-form-field-flex {
//      padding-top: 1.35rem !important;
//      padding-bottom: 1.35rem !important;
//    }
//  }
//}


@media screen and(max-width: 1360px) {
  .assets-form {
    .mat-form-field {
      &-flex {
        height: 41.6667px !important;
        padding: 0.4em 16px 0 16px !important;;
      }
    }
  }
  .assets-textarea {
    .mat-form-field {
      &-flex {
        height: auto !important;
      }
    }
  }
}
