<div class="content">
  <h2>Reference page</h2>
  <mat-tab-group class="extendable scrollable-tab-content">

    <mat-tab label="Main">
      <h2 class="extendable">Reference page</h2>
      <mat-tab-group class="extendable auto-height-tab-content">

        <mat-tab label="Nested Main">
          <h2 class="extendable">Reference page</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
          <h2>Tab content</h2>
        </mat-tab>
      </mat-tab-group>

    </mat-tab>

    <mat-tab label="Addition">
      <app-employee-table class="extendable h-100"></app-employee-table>
    </mat-tab>
  </mat-tab-group>
</div>
