@import "../../abstracts/variables";

.assets-filter {
  .mat-form-field {
    max-height: 40px !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  &-datepicker {
    .mat-form-field-flex {
      color: $text-gray;
      background-color: transparent !important;
      outline-color: transparent !important;
      border: 1px solid $main;
      font-weight: 600 !important;

      .mat-form-field-infix {
        padding: 0 0 0.75em 0 !important;
        input{
          font-weight:inherit !important;
        }
      }
      .mat-form-field-infix input.ng-dirty{
        color:$main !important;
      }
      }
  }

  .mat-form-field-flex {
    max-height: 4rem;
    display: flex;
    align-items: center;
    height: 40px !important;
    padding: 5px 1rem 5px 1rem !important;

    .mat-form-field-prefix {

      .mat-icon {
        font-size: 18px !important;
        height: 18px !important;
        width: 18px !important;
      }
    }

    .mat-form-field-infix {

      .mat-form-field-label-wrapper {
        display: none !important;
      }

      input.mat-input-element {
        height: 20px !important;
        vertical-align: center;
        font-weight: 500;
        font-size: $text-sm;
        margin-top: -.2em;
        margin-left: 4px;
      }
    }
    .mat-form-field-prefix .mat-datepicker-toggle {
      button {
        top: 2px !important;
      }
    }
  }
}

@media screen and(max-width: 1360px) {
  .assets-filter {
    .mat-form-field {
      &-flex {
        max-height: 41.6667px !important;
        padding: 0 16px 0 16px !important;

        .mat-form-field-infix {
          padding: 0.10em 0 0.63em 0 !important;
          .mat-form-field-label-wrapper {
          }
        }
      }
    }
  }
}
