<div class="content text-dark">
  <div class="locate-between">
    <div>
      <h2 class="m-0 d-inline-block font-weight-bold">Сабытакунова Калзира Эмилбековна</h2>
      <span class="ml-4 font-weight-normal text-lg">Junior UX/UI designer</span>
    </div>
    <div>
      <button mat-flat-button class="assets-btn-sm ghost-btn-dark icon-only-btn-sm">
        <mat-icon>download</mat-icon>
      </button>
      <button mat-flat-button class="assets-btn-sm ghost-btn-dark icon-only-btn-sm">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
  <mat-tab-group class="extendable scrollable-tab-content tab-primary">

    <mat-tab label="Main">
      <div class="locate-between mb-3">

        <h2 class="text-main mb-0">Личная информация</h2>
        <div>
          <button mat-stroked-button class="assets-btn-sm outline-btn icon-left">
            <mat-icon>download</mat-icon>
            Export
          </button>
          <button mat-flat-button class="assets-btn-sm ghost-btn-deep-1 ml-2 icon-left">
            <mat-icon>edit</mat-icon>
            Редактировать
          </button>
        </div>
      </div>
      <div class="app-card-stroked p-4 pt-4 text-lg mb-4">
        <div class="container-fluid m-0">
          <div class="row info-row">
            <div class="col-4">
              <h4 class="m-0">ФИО</h4>
              <p>Сабытакунова Калзира Эмилбековна</p>
            </div>
            <div class="col-4">
              <h4 class="m-0">Пол</h4>
              <p>Женский</p>
            </div>
            <div class="col-4">
              <h4 class="m-0">Дата рождения</h4>
              <p>22/11/1998</p>
            </div>
          </div>
          <div class="row info-row">
            <div class="col-12">
              <mat-divider></mat-divider>
            </div>
          </div>
          <div class="row info-row">
            <div class="col-4">
              <h4 class="m-0">Адрес проживания</h4>
              <p>г. Бишкек, проспект Эркиндик, д 58, кв. 23/4</p>
            </div>
            <div class="col-4">
              <h4 class="m-0">Личный телефон</h4>
              <p>+996(707)12-12-12</p>
            </div>
            <div class="col-4">
              <h4 class="m-0">Личная почта</h4>
              <p>kalzirasuper.sabytakunova@gmail.com</p>
            </div>
          </div>
          <div class="row info-row">
            <div class="col-12">
              <mat-divider></mat-divider>
            </div>
          </div>
          <div class="row info-row">
            <div class="col-4">
              <h4 class="m-0">Дополнительный телефон</h4>
              <p>+996(700)12-12-12</p>
            </div>
            <div class="col-4">
              <h4 class="m-0">Дополнительная почта</h4>
              <p>kalzira.sabytakunova1@gmail.com</p>
            </div>
          </div>
          <div class="row info-row">
            <div class="col-12">
              <mat-divider></mat-divider>
            </div>
          </div>
          <div class="row info-row">
            <div class="col-4">
              <h4 class="m-0">Гражданство</h4>
              <p>КЫРГЫЗСКАЯ РЕСПУБЛИКА</p>
            </div>
            <div class="col-4">
              <h4 class="m-0">ИНН</h4>
              <p>12345678912345</p>
            </div>
            <div class="col-4">
              <h4 class="m-0">Номер паспорта</h4>
              <p>ID1234545</p>
            </div>
            <div class="col-4">
              <h4 class="m-0">Орган выдачи</h4>
              <p>МКК 123456</p>
            </div>
            <div class="col-4">
              <h4 class="m-0">Дата выдачи</h4>
              <p>22/02/2020</p>
            </div>
          </div>
          <div class="row info-row">
            <div class="col-12">
              <mat-divider></mat-divider>
            </div>
          </div>
          <div class="row info-row">
            <div class="col-4">
              <h4 class="m-0">Университет</h4>
              <p>Международный университет Ала-Тоо</p>
            </div>
            <div class="col-4">
              <h4 class="m-0">Специальность</h4>
              <p>Software Engineering</p>
            </div>
            <div class="col-4">
              <h4 class="m-0">Степень</h4>
              <p>Бакалавр</p>
            </div>
            <div class="col-4">
              <h4 class="m-0">Дата окончания</h4>
              <p>30/05/2020</p>
            </div>
          </div>
          <div class="row info-row">
            <div class="col-12">
              <mat-divider></mat-divider>
            </div>
          </div>
          <div class="row info-row">
            <div class="col-4">
              <h4 class="m-0">Дополнительный телефон</h4>
              <p>+996(700)12-12-12</p>
            </div>
            <div class="col-4">
              <h4 class="m-0">Дополнительная почта</h4>
              <p>kalzira.sabytakunova1@gmail.com</p>
            </div>
          </div>
        </div>

      </div>
      <div class="locate-between mb-3">

        <h2 class="text-main mb-0">Рабочая информация</h2>
        <div>
          <button mat-stroked-button class="assets-btn-sm outline-btn icon-left">
            <mat-icon>download</mat-icon>
            Export
          </button>
          <button mat-flat-button class="assets-btn-sm ghost-btn-deep-1 ml-2 icon-left">
            <mat-icon>edit</mat-icon>
            Редактировать
          </button>
        </div>
      </div>
      <div class="app-card-stroked p-4 pt-4 text-lg mb-4">
        <div class="container-fluid m-0 mb-3">
          <div class="row info-row">
            <div class="col-4">
              <h4 class="m-0">Текущая специальность</h4>
              <p>Junior UX/UI Designer</p>
            </div>
            <div class="col-4">
              <h4 class="m-0">Табельный номер</h4>
              <p>12345</p>
            </div>
            <div class="col-4">
              <h4 class="m-0">Статус</h4>
              <p>
                <mat-chip class="mat-chip-success">Активен</mat-chip>
              </p>
            </div>
            <div class="col-4">
              <h4 class="m-0">Рабочий телефон</h4>
              <p>+996(707)12-12-13</p>
            </div>
            <div class="col-4">
              <h4 class="m-0">Рабочая почта</h4>
              <p>kalzira.sabytakunova@timelysoft.net</p>
            </div>
          </div>
          <div class="row info-row">
            <div class="col-12">
              <mat-divider></mat-divider>
            </div>
          </div>
          <div class="row info-row">
            <div class="col-12">
              <h4 class="mb-2">Hard skills</h4>
              <mat-chip-list>
                <mat-chip class="mat-chip-primary">графический дизайн</mat-chip>
                <mat-chip class="mat-chip-primary">3D дизайн</mat-chip>
                <mat-chip class="mat-chip-primary">управление проектами</mat-chip>
                <mat-chip class="mat-chip-primary">java</mat-chip>
              </mat-chip-list>
            </div>
            <div class="col-12">
              <h4 class="mb-2">Soft skills</h4>
              <mat-chip-list>
                <mat-chip class="mat-chip-primary">Стрессоустойчивость</mat-chip>
                <mat-chip class="mat-chip-primary">Тайм- менеджмент</mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </div>
      </div>
      <div class="locate-between mb-3">

        <h2 class="text-main mb-0">Дополнительная информация</h2>
        <div>
          <button mat-stroked-button class="assets-btn-sm outline-btn icon-left">
            <mat-icon>download</mat-icon>
            Export
          </button>
          <button mat-flat-button class="assets-btn-sm ghost-btn-deep-1 ml-2 icon-left">
            <mat-icon>edit</mat-icon>
            Редактировать
          </button>
        </div>
      </div>
      <div class="app-card-stroked p-4 pt-4 text-lg">
        <div class="container-fluid m-0">
          <div class="row info-row mb-3">
            <div class="col-12"><h3 class="font-weight-bold mb-2">Сведения о близких</h3></div>
            <div class="col-4">
              <app-card-relatives [relative]="relative"></app-card-relatives>
            </div>
            <div class="col-4">
              <app-card-relatives [relative]="relative"></app-card-relatives>
            </div>
            <div class="col-4">
              <app-card-relatives [relative]="relative"></app-card-relatives>
            </div>
          </div>
          <div class="row info-row">
            <div class="col-12"><h3 class="font-weight-bold mb-0">Интересы</h3></div>
            <div class="col-10">
              <h4 class="mb-2">Информация о сотруднике</h4>
              <span class="font-weight-light text-lg">Далеко-далеко за словесными горами в стране гласных и согласных
                живут
                рыбные
                тексты. Вдали от всех
                живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит
                по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой
                жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными
                текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного те</span>
            </div>
            <div class="col-12">
              <h4 class="mb-2">Хэштеги</h4>
              <mat-chip-list>
                <mat-chip class="mat-chip-primary">#настольные игры</mat-chip>
                <mat-chip class="mat-chip-primary">#лыжи</mat-chip>
                <mat-chip class="mat-chip-primary">#баскетбол</mat-chip>
              </mat-chip-list>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>

    <mat-tab label="Addition">
      <app-employee-table class="extendable h-100"></app-employee-table>
    </mat-tab>
  </mat-tab-group>
</div>
